
@media (min-width: 1921px) {
   
}

@media (max-width: 1440px) {
    .header-2 .menu-primary-menu {
        padding: 0 15px;
        gap: 15px;
    }
    .header-top {
        padding-left: 15px;
        padding-right: 15px;
    }
    .gallery-wrap {
        padding-left: 0;
        padding-right: 0;
    }
    .header-2 .header-right {
        margin-left: 15px;
    }
    .snare-circle::before {
        display: none;
    }
    .wg-chef .top .content {
        padding-top: 15px;
        margin-left: -50px;
    }
    .road-map .swiper-button-prev {
        left: 0;
    }
    .road-map .swiper-button-next {
        right: 0;
    }
    .wg-reservations.style-1::before {
        display: none;
    }
    .wg-reservations.style-1 .content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .chef-item-full .content {
        margin-top: 70px;
        flex-grow: 1;
        margin-left: -300px;
    }
    .wg-shop-detail .content-inner {
        padding-left: 0;
    }
    .page-menu-wrap > .left {
        padding-left: 15px;
        padding-right: 15px;
    }
    .page-menu-wrap .right .wrap {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 1200px) {
    .header-top > div {
        flex-wrap: wrap;
        gap: 15px !important;
    }
    .wg-information {
        width: 100%;
    }
    .header-top > .right {
        justify-content: end;
    }
    .header-top > .right .wg-information {
        flex-direction: row-reverse;
    }
    .wg-about-hour,
    .header.is-fixed.is-small .header-inner .site-logo-wrap,
    .header.is-fixed.is-small .header-inner .header-left,
    .header.is-fixed.is-small .header-inner .menu-primary-menu,
    .header.is-fixed.is-small .header-inner .header-right {
        padding-left: 15px;
        padding-right: 15px;
    }
    .wg-our-menu .box-menu,
    .wg-location .box-map,
    .wg-reservations .image,
    .wg-open-hours .image {
        margin: 0;
        width: 100%;
    }
    .header-2 .wg-information {
        display: none;
    }
    .wg-about-hour {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .portfolio-wrap {
        flex-wrap: wrap;
    }
    .portfolio-item {
        width: 50%;
    }
    .widget-tabs.style-1 > .bottom .widget-content-tab {
        padding: 30px;
    }
    .wg-reservations.style-1 .content {
        padding-top: 70px;
        padding-bottom: 50px;
    }
    .wg-reservations.style-1 .image {
        width: unset;
    }
}

@media (max-width: 1180px) {
    .services-detail-item:hover .content .wrap {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 1024px) {
    .event-grid {
        flex-wrap: wrap;
    }
    .event-grid > div {
        width: 50%;
    }
    .wg-testimonial {
        padding-left: 15px;
        padding-right: 15px;
    }
    .widget-tabs.style-1 > .bottom,
    .wg-about-hour > .wrap {
        flex-wrap: wrap;
    }
    .wg-about-hour .left,
    .wg-about-hour .right {
        order: 1;
        width: 50% !important;
        max-width: none;
    }
    .widget-tabs.style-1 > .bottom .widget-content-tab,
    .wg-about-hour .center  {
        order: 2;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
    .widget-tabs.style-1 > .bottom .image {
        order: 1;
        width: 48%;
    }
    .wg-location.style-1 .widget-tabs img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .wg-reservations.style-1 .image img {
        height: 771px;
        object-fit: cover;
    }
    .chef-item .content {
        padding-top: 50px;
    }
}

@media (max-width: 991px) {
    .wg-private-event .content {
        padding-top: 0 !important;
        margin-bottom: 30px;
    }
    .tf-mouse,
    .main-nav {
        display: none;
    }
    .mobile-button {
        display: block;
    }
    .swiper-button,
    .swiper-button-next,
    .swiper-button-prev,
    .swiper-pagination {
        display: none !important;
    }
    .header-right {
        padding-right: 0;
        padding-left: 15px;
    }
    .header-inner-wrap {
        justify-content: space-between;
    }
    .footer .footer-right::after,
    .footer .footer-left::after {
        display: none;
    }
    .widget-menu-tab {
        padding-left: 15px;
        padding-right: 15px;
        gap: 15px;
        justify-content: center;
    }
    .page-menu-wrap .right .list-menu,
    .chef-item-full,
    .wg-chef .top {
        flex-wrap: wrap;
    }
    .wg-chef .top > div {
        width: 100% !important;
        margin-left: 0 !important;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 30px !important;
    }
    .all-chefs .text {
        position: unset;
        transform: none;
        font-size: 30px;
        line-height: 40px;
    }
    .chef-item-full > div {
        width: 100% !important;
    }
    .chef-item-full .content {
        margin-top: 15px;
        margin-left: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    .wg-service-slider .box-line-under::after {
        width: unset;
        left: 15px;
        right: 15px;
        transform: none;
    }
    .page-menu-wrap > .left {
        width: 35%;
    }
    .page-menu-wrap > .right {
        width: 65%;
    }
}

@media (max-width: 820px) {
    .main-sidebar {
        margin-top: 30px;
    }
    .wg-about-us .image {
        margin-top: 30px;
    }
    .shop-item.style-list .content {
        flex-wrap: wrap;
    }
    .cart-item {
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .header-2 .header-top .left ul {
        flex-wrap: wrap;
    }
    .wg-about-slider > img {
        display: none;
    }
    .quantity {
        width: 110px;
    }
}

@media (max-width: 700px) {
    br {
        display: none;
    }
    .canvas,
    .header-top {
        display: none;
    }
    .header-left,
    .header-right {
        border: none;
    }
    #site-logo {
        left: 0;
        transform: none;
    }
    .site-logo-wrap {
        border: none;
        padding: 10px 46px 9px 15px;
    }
    .footer-1 .footer-bottom,
    .meta {
        flex-wrap: wrap;
        gap: 15px;
    }
    .footer .footer-right,
    .footer .footer-center,
    .footer .footer-left {
        margin-top: 0;
        text-align: start !important;
        margin-bottom: 15px;
    }
    .box-icon {
        margin-bottom: 50px;
    }
    .featured-countdown .countdown__item::after,
    .dot-after::after,
    .snare-before::before,
    .snare-after::after {
        display: none;
    }
    .wg-our-menu .content {
        margin-bottom: 40px;
    }
    .widget-menu-tab {
        padding-top: 20px;
        flex-wrap: wrap;
    }
    .widget-menu-tab .item-title {
        width: 100%;
    }
    .widget-content-tab {
        padding-left: 20px;
        padding-right: 20px;
    }
    .wg-reservations .image {
        margin-top: 40px;
    }
    .wg-location .box-map {
        height: 500px;
    }
    .page-menu-wrap,
    form .columns,
    .wg-reservations.style-1,
    .wg-action form {
        flex-wrap: wrap;
    }
    .page-menu-wrap > div,
    .event-grid > div,
    .wg-action form .button-two-line,
    .portfolio-item,
    .wg-about-hour .left,
    .wg-about-hour .right {
        width: 100% !important;
    }   
    .wg-reservations.style-1 .image img,
    .wg-location.style-1 .widget-tabs img {
        height: unset;
    }
    .featured-countdown .countdown__timer {
        flex-wrap: wrap;
    }
    .coming-soon-wrap {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .coming-soon-wrap .desc {
        font-size: 30px;
        line-height: 40px;
    }
    .services-detail-item .content {
        position: unset;
    }
    .banner-page .content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .shop-item.style-list .price {
        text-align: center;
    }
}