
@media (min-width: 1921px) {
   
}

@media (max-width: 1440px) {
    .header-top {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 1200px) {
    .header-top > div {
        flex-wrap: wrap;
        gap: 15px !important;
    }
    .wg-information {
        width: 100%;
    }
    .header-top > .right {
        justify-content: end;
    }
    .header-top > .right .wg-information {
        flex-direction: row-reverse;
    }
    .header.is-fixed.is-small .header-inner .site-logo-wrap,
    .header.is-fixed.is-small .header-inner .header-left,
    .header.is-fixed.is-small .header-inner .menu-primary-menu,
    .header.is-fixed.is-small .header-inner .header-right {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 1180px) {
   
}

@media (max-width: 1024px) {

}

@media (max-width: 991px) {
    .tf-mouse,
    
    .main-nav {
        display: none;
    }
    .mobile-button {
        display: block;
    }
    .swiper-button,
    .swiper-button-next,
    .swiper-button-prev,
    .swiper-pagination {
        display: none !important;
    }
    .header-right {
        padding-right: 0;
        padding-left: 15px;
    }
    .header-inner-wrap {
        justify-content: space-between;
    }
    .footer .footer-right::after,
    .footer .footer-left::after {
        display: none;
    }
}

@media (max-width: 820px) {
    .main-sidebar {
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 700px) {
    br {
        display: none;
    }
    .canvas,
    .header-top {
        display: none;
    }
    .header-left,
    .header-right {
        border: none;
    }
    #site-logo {
        left: 0;
        transform: none;
    }
    .site-logo-wrap {
        border: none;
        padding: 10px 46px 9px 15px;
    }
    .meta {
        flex-wrap: wrap;
        gap: 15px;
    }
    .footer .footer-right,
    .footer .footer-center,
    .footer .footer-left {
        margin-top: 0;
        text-align: start !important;
        margin-bottom: 15px;
    }
}
