/**

    * themesflat-container
    * blog-single
    * page-title
    *
    * wg-404
    
*/

.themesflat-container {
    position     : relative;
    margin-left  : auto;
    margin-right : auto;
    padding-right: 15px;
    padding-left : 15px;
    width        : 1200px;
    max-width    : 100%;
}

.themesflat-container.full {
    width: 100%;
}

/* wg-blog */
/* --------------------------- */
.blog-grid {
    padding-top: 149px;
    padding-bottom: 130px;
}

.wg-blog {
    margin-bottom: 78px;
    position: relative;
    margin-bottom: 74px;
}

.wg-blog .image {
    margin-bottom: 20px;
    position: relative;
}

.meta {
    display: flex;
    gap: 23px;
    align-items: center;
    margin-bottom: 11px;
}

.meta .meta-item {
    position: relative;
    padding-left: 12px;
    font-size: 13px;
    line-height: 25px;
    font-family: 'CerebriSans';
    letter-spacing: 0.4px;
}

.meta .meta-item::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 1px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: #c6ac83;
}

.meta .meta-item > a {
    text-decoration: underline;
}

.wg-blog .title {
    position: relative;
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    margin-bottom: 43px;
    letter-spacing: 0.45px;
}

.wg-blog .title::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -20px;
    width: 103px;
    height: 1px;
    background-color: #c6ac83;
}

.wg-blog .title::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: -20px;
    width: 217px;
    height: 1px;
    background-color: #3d4344;
}

.wg-blog .title a {
    color: #FFF;
}

.wg-blog .title a:hover {
    color: #c6ac83;
}

.wg-blog p {
    margin-bottom: 29px;
}

.wg-blockquote {
    padding: 51px 70px 40px 60px;
    border: 1px solid #c6ac83;
    position: relative;
    margin-bottom: 87px;
    text-align: center;
}

.wg-blockquote::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -14px;
    width: 100%;
    height: 1px;
    background-color: #c6ac83;
}

.wg-blockquote blockquote {
    font-size: 23px;
    line-height: 30px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1.15px;
    margin-bottom: 46px;
    position: relative;
}

.wg-blockquote blockquote::after {
    position: absolute;
    content: '';
    width: 75px;
    height: 1px;
    bottom: -26px;
    left: 50%;
    transform: translateX(-32px);
    background-color: #c6ac83;
}

.wg-blockquote cite {
    font-size: 15px;
    line-height: 26px;
    color: #c6ac83;
    font-family: 'CerebriSans';
    text-transform: uppercase;
    margin-top: 18px;
    letter-spacing: 1.5px;
    margin-left: 10px;
    font-style: normal;
    font-weight: 400;
}

.wg-blockquote .icon {
    margin-bottom: 25px;
}

.wg-blockquote .icon img  {
    width: 29px;
    height: 25px;
}

.wg-blockquote.t1 {
    padding: 55px 70px 41px 60px;
}

.wg-blockquote.t1 .icon {
    margin-bottom: 29px;
    padding-left: 10px;
}

.wg-blockquote.t1 blockquote {
    margin-bottom: 50px;
    letter-spacing: 2px;
}

.wg-pagination ul {
    display: flex;
    gap: 10px;
}

.wg-pagination ul li:hover,
.wg-pagination ul li.active {
    background-color: #C3A27C;
}

.wg-pagination ul li a {
    font-family: 'CerebriSans';
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    width: 49px;
    height: 49px;
    border: 1px solid #C3A27C;
    color: #fff;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wg-pagination ul li:hover a,
.wg-pagination ul li.active a {
    background-color: #c6ac83;
}

/* main-sidebar */
/* --------------------------------- */
.avt .image {
    width: 335px;
    height: 335px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #c6ac83;
    margin-bottom: 30px;
}

.avt .image img {
    border-radius: 50%;
}

.avt .info {
    text-align: center;
}

.avt .info .unit {
    font-size: 17px;
    line-height: 26px;
    font-weight: 600;
    color: #c6ac83;
    font-style: italic;
    letter-spacing: 1px;
    margin-bottom: 1px;
}

.avt .info .name {
    font-size: 19px;
    line-height: 26px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.avt .info .name:hover {
    color: #c6ac83;
}

.avt .info p {
    margin-top: 22px;
    padding: 0 26px;
    margin-bottom: 43px;
}

form.form-search input {
    border-color: #4e4a3d;
    margin-bottom: 50px;
}

form.form-search button {
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 21px;
    padding: 13px 14px;
    width: 48px;
    height: 48px;
    color: #c6ac83;
    background-color: #182125;
}

.sidebar-item {
    border: 1px solid #4e4a3d;
    margin-bottom: 50px;
}

.sidebar-item .heading-top {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: #c6ac83;
    letter-spacing: 1px;
    padding: 19px 22px 17px;
    background-color: #182125;
}

.sidebar-item .content {
    padding: 25px 22px 22px;
}

.sidebar-item.category .heading-top {
    padding: 20px 22px 17px ;
}

.sidebar-item.category ul li a {
    font-size: 15px;
    line-height: 35px;
    color: #FFF;
    font-family: 'CerebriSans';
    letter-spacing: 0.3px;
    position: relative;
}

.sidebar-item.category ul li a:hover {
    color: #c6ac83;
    padding-left: 17px;
}

.sidebar-item.category ul li a::before {
    position: absolute;
    content: '';
    width: 0px;
    height: 1px;
    top: 9px;
    left: 1px;
    background-color: #c6ac83;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.sidebar-item.category ul li a:hover::before {
    width: 10px;
}

.sidebar-item.recent .content {
    padding: 0;   
}

.recent-item {
    display: flex;
    gap: 21px;
    padding: 35px 45px 21px 22px;
    border-bottom: 1px solid #4e4a3d;
}

.recent-item .image {
    min-width: 76px;
    width: 76px;
}

.recent-item .name {
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    margin-top: 3px;
    letter-spacing: 0.3px;
    margin-bottom: 9px;
}

.recent-item .name a {
    color: #FFF;
}

.recent-item .name a:hover {
    color: #c6ac83;
}

.recent-item p {
    font-size: 13px;
    color: #c6ac83;
    letter-spacing: 0.3px;
}

.recent-item.t1 {
    padding: 21px 45px 19px 22px;
}

.recent-item.t2 {
    padding: 19px 45px 35px 22px;
}

.sidebar-item.tag .content {
    padding: 35px 22px 35px;
}

.sidebar-item.tag ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.sidebar-item.tag ul li a {
    height: 34px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 34px;
    display: flex;
    align-items: center;
    font-family: 'CerebriSans';
    border: 1px solid #c6ac83;
    color: #FFF;
    background-color: transparent;
}

.sidebar-item.tag ul li a:hover {
    background-color: #c6ac83;
}

.sidebar-item.newletters .content {
    padding: 30px 22px 34px;
}

.sidebar-item.newletters .content > p {
    margin-bottom: 18px;
}

.sidebar-item.newletters form input {
    margin-bottom: 20px;
}

.sidebar-item.newletters form button {
    width: 100%;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'CerebriSans';
}

/* blog-full-width */
.blog-full-width {
    padding-top: 135px;
}

.wg-blog.full-width {
    margin-bottom: 77px;
}

.wg-blog.full-width .content {
    display: flex;
}

.wg-blog.full-width .content .left {
    flex-grow: 1;
}

.wg-blog.full-width .content .title {
    max-width: 650px;
}

.wg-blog.full-width .content p {
    max-width: 720px;
}

.wg-blog.full-width .content .right {
    flex-grow: 1;
    max-width: 370px;
    background-color: #182125;
    border: 1px solid #34352e;
    margin-top: 8px;    
    padding: 29px 24px 18px;
}

.wg-blog.full-width .content .meta {
    flex-wrap: wrap;
    gap: 25px;
}

.wg-blog.full-width .content .meta .meta-item {
    font-size: 15px;
    letter-spacing: 0px;
    width: 100%;
}

.wg-blog.full-width .content .meta .meta-item.social {
    padding-left: 0;
}

.wg-blog.full-width .content .meta .meta-item.social > span {
    margin-left: 12px;
}

.wg-blog.full-width .content .meta .meta-item .widget-social {
    margin-top: 19px;
    margin-left: 1px;
}

.widget-social ul {
    display: flex;
    gap: 10px;
}

.widget-social ul li a {
    width: 35px;
    height: 36px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #c6ac83;
    color: #FFF;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.widget-social ul li a:hover {
    background-color: #c6ac83;
}

.wg-blog .image .box-calender {
    position: absolute;
    bottom: 16px;
    right: 18px;
}

.box-calender {
    width: 96px;
    height: 109px;
    background-color: #0e1618;
    text-align: center;
    padding: 10px 16px;
}

.box-calender .calender-day {
    font-size: 45px;
    color: #c6ac83;
    font-weight: 700;
    padding-bottom: 12px;
    border-bottom: 1px solid #32393a;
    margin-bottom: 5px;
}

.box-calender .calender-month {
    font-size: 13px;
    line-height: 30px;
    font-family: 'CerebriSans';
    color: #FFF;
}

.wg-blog.full-width.t1 {
    margin-bottom: 72px;
}

.wg-blog.full-width.t1 .title {
    margin-bottom: 47px;
}

.wg-blog.full-width.t1 .title::before,
.wg-blog.full-width.t1 .title::after {
    bottom: -24px;
}

.wg-blockquote.t2 {
    padding: 47px 70px 40px 72px;
    text-align: start;
    margin-bottom: 91px;
}

.wg-blockquote.t2::after {
    left: -2px;
    bottom: -18px;
}

.wg-blockquote.t2 .icon {
    position: absolute;
    right: 81px;
    top: 111px;
}

.wg-blockquote.t2 .icon img {
    width: 45px;
    height: 39px;
}

.wg-blockquote.t2 blockquote {
    max-width: 825px;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 1.25px;
    margin-bottom: 43px;
}

.wg-blockquote.t2 blockquote::after {
    width: 114px;    
    bottom: -24px;
    left: -4px;
    transform: none;
}

.wg-blockquote.t2 cite {
    margin-left: -3px;
}

.wg-blog.full-width.t2 {
    margin-bottom: 70px;
}

.wg-blog.full-width.t2 .title {
    margin-bottom: 49px;
}

.wg-blockquote.t2.link {
    padding: 47px 70px 46px 72px;
    margin-bottom: 89px;
}

.wg-blockquote.t2.link blockquote {
    margin-bottom: 47px;
}

.wg-blockquote.t2.link .icon {
    right: 90px;
    top: 89px;
}

.wg-blockquote.t2.link .icon img {
    width: 64px;
    height: 23px;
}

.wg-blockquote.t1.link .icon img {
    width: 50px;
    height: 19px;
}

/* wg-action */
/* ---------------------------------- */
.wg-action {
    padding-top: 119px;
    padding-bottom: 66px;
}

.wg-action .title {
    font-weight: 600;
    font-size: 40px;
    color: #FFF;
    margin-bottom: 42px;
    text-align: center;
    letter-spacing: 0.8px;
    font-style: italic;
}

.wg-action form {
    max-width: 773px;
    margin: auto;
    padding-right: 6px;
    display: flex;
    gap: 15px;
}

.wg-action form .button-two-line {
    min-width: max-content;
}

.wg-action p {
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    margin-top: 16px;
}

/* blog-single */
.blog-single {
    padding-top: 135px;
    padding-bottom: 144px;
}

.blog-single .wg-blog {
    margin-bottom: 42px;
}

.blog-single .wg-blog p {
    margin-bottom: 26px;
}

.blog-single p.text-1  {
    margin-bottom: 40px;
}

.blog-single .wg-blog.t3 {
    margin-bottom: 53px;
}

.blog-single .wg-blog.t3 .title {
    font-size: 25px;
    margin-bottom: 14px;
}

.blog-single .wg-blog.t3 .title::after,
.blog-single .wg-blog.t3 .title::before {
    display: none;  
}

.blog-single .wg-blog.t3 p {
    margin-bottom: 32px;
}

.blog-single .wg-blog.t3 .image {
    margin-bottom: 33px;
}

.blog-single .bottom {
    padding: 19px 0 18px;
    border-top: 1px solid #4e4a3d;
    border-bottom: 1px solid #4e4a3d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 56px;
}

.blog-single .bottom .tags {
    display: flex;
    align-items: center;
    gap: 8px;
}

.blog-single .bottom .tags a {
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.6px;
}

.blog-single .bottom .text {
    font-size: 15px;
    line-height: 28px;
    font-family: 'CerebriSans';
    color: #c6ac83;
    letter-spacing: 1.2px;
}

.widget-social {
    display: flex;
    align-items: center;
    gap: 18px;
}

.blog-single .title-1 {
    font-family: 'CormorantInfant';
    text-transform: uppercase;
    font-size: 30px;
    line-height: 58px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

/* wg-comment */
.wg-comment {
    position: relative;
    border-bottom: 1px solid #dedede;
    margin-bottom: 57px;
    padding: 26px 13px 19px;
}

.wg-comment .author {
    display: flex;
    gap: 26px;
    margin-bottom: 18px;
}

.wg-comment p {
    margin-bottom: 32px;
    letter-spacing: 0.3px;
}

.wg-comment .author .image {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #c6ac83;
}

.wg-comment .author .name {
    font-size: 17px;
    line-height: 22px;
    font-family: 'CormorantInfant';
    margin-bottom: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
}

.wg-comment .author .name a {
    color: #fff;
}

.wg-comment .author .time {
    font-size: 15px;
    line-height: 19px;
    color: #fff;
    font-family: "CerebriSans";
} 

.wg-comment > a {
    position: absolute;
    right: -13px;
    top: 43px;
}

/* post-comment */
.blog-single .post-comment .title-1 {
    margin-bottom: 21px;
}

.post-comment .text {
    font-family: 'CerebriSans';
    font-size: 15px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 26px;
    letter-spacing: 1.3px;
}

.post-comment form textarea {
    height: 229px !important;
    margin-bottom: 50px;
}

.post-comment form .bot {
    padding-left: 27px;
}

/* page-title */
/* -------------------------------- */
